@import url("http://fonts.googleapis.com/css?family=Nothing+You+Could+Do");
body { 
	color: #333;
	font: 16px/28px Georgia, 'Times New Roman', Times, serif;
	
	/* CSS3 gradient background pattern @credits http://leaverou.me/demos/css3-patterns.html */
	background-color: #eee; /* Change this to change both stribe colors */
	
	background-image: -webkit-gradient(linear, 0 100%, 100% 0,
							color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
							color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
							color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
							to(transparent)); /* Old webkit syntax */
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
							transparent 75%, transparent); /* New webkit syntax */					
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
							transparent 75%, transparent); /* Firefox */
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
							transparent 75%, transparent); /* Opera */
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
							transparent 75%, transparent); /* WC3 */
	background-size: 16px 16px;
	/* Browsers who don't support gradients */
	.no-cssgradients body {
		background-image: url(bg.png);
		background-repeat: repeat;
		background-attachment: fixed;
	}
}

.oculto {display:none;}
.visible {display:block;}

.contenedor {
	width: 0 auto;
	margin: 0 auto;
}
.banner {
	position: relative;
	margin:0px auto;
	text-align:center;
	display: block;
	font-family: 'Nothing You Could Do', cursive;
}
.contenido {
	position: relative;
	margin:0px auto;	
	width: 400px;
}
.box { 
	background: rgba(204, 204, 204, .4);
	border-radius: 5px 5px 10px 10px;
	padding: 50px 20px 50px 20px;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4), 0px 0px 15px rgba(204, 204, 204, 0.5);
	-moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4), 0px 0px 15px rgba(204, 204, 204, 0.5);
	box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4), 0px 0px 15px rgba(204, 204, 204, 0.5);
}
.lista {
	list-style-type: none;
	position: relative;
        display: inline;
	text-align:center;
	font-family: 'Nothing You Could Do', cursive;
}
.letra {
	font-family: 'Nothing You Could Do', cursive;
	color: Black;
}

.hiddenlink {
  color: #000; /* same color as the surrounding text */
  text-decoration: none; /* to remove the underline */
}

.button, .button:visited { /* botones genéricos */
background: #222 url(http://sites.google.com/site/zavaletaster/Home/overlay.png) repeat-x;
display: inline-block;
padding: 5px 10px 6px;
color: #FFF;
text-decoration: none;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-bottom: 1px solid rgba(0,0,0,0.25);
position: relative;
cursor:pointer;
width: 200px;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
border: none;
}

.button:hover { /* el efecto hover */
background-color: #111
color: #FFF;
}

.button:active{ /* el efecto click */
top: 1px;
}

/* botones pequeños */
.small.button, .small.button:visited {
font-size: 14px ;
}

/* botones medianos */
.button, .button:visited,.medium.button, .medium.button:visited {
font-size: 18px;
font-weight: bold;
line-height: 1;
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

/* botones grandes */
.large.button, .large.button:visited {
font-size:20px;
padding: 8px 14px 9px;
}

/* botones extra grandes */
.super.button, .super.button:visited {
font-size: 24px;
padding: 8px 14px 9px;
}

.pink.button { background-color: #E22092; }
.pink.button:hover{ background-color: #C81E82; }

.green.button, .green.button:visited { background-color: #91BD09; }
.green.button:hover{ background-color: #749A02; }

.red.button, .red.button:visited { background-color: #E62727; }
.red.button:hover{ background-color: #CF2525; }

.orange.button, .orange.button:visited { background-color: #FF5C00; }
.orange.button:hover{ background-color: #D45500; }

.blue.button, .blue.button:visited { background-color: #2981E4; }
.blue.button:hover{ background-color: #2575CF; }

.yellow.button, .yellow.button:visited { background-color: #FFB515; }
.yellow.button:hover{ background-color: #FC9200; }
